# Word Documents that might contain sensitive data
## Legacy filename extensions denote binary Microsoft Word formatting that became outdated with the release of Microsoft Office 2007. Although the latest version of Microsoft Word can still open them, they are no longer developed. Legacy filename extensions include:
# Legacy Word document; Microsoft Office refers to them as "Microsoft Word 97 – 2003 Document"
*.doc
# Legacy Word templates; officially designated "Microsoft Word 97 – 2003 Template"
*.dot
# Legacy Word document backup; referred as "Microsoft Word Backup Document"
*.wbk
## Office Open XML (OOXML) format was introduced with Microsoft Office 2007 and became the default format of Microsoft Word ever since. Pertaining file extensions include:
# Word Document
*.docx
# Word macro-enabled document; same as docx, but may contain macros and scripts
*.docm
# Word template
*.dotx
# Word macro-enabled template; same as dotx, but may contain macros and scripts
*.dotm
# Word binary document introduced in Microsoft Office 2007
*.docb
# PDF documents
*.pdf
# Word add-in
*.wll
*.wwl
# Text Documents
*.txt
# Rich Text Format
*.rtf 

# Excel Documents that might contain sensitive data
# Legacy
## Legacy filename extensions denote binary Microsoft Excel formats that became outdated with the release of Microsoft Office 2007. Although the latest version of Microsoft Excel can still open them, they are no longer developed. Legacy filename extensions include:
# Legacy Excel worksheets; officially designated "Microsoft Excel 97-2003 Worksheet"
*.xls
# Legacy Excel templates; officially designated "Microsoft Excel 97-2003 Template"
*.xlt
# Legacy Excel macro
*.xlm
# Excel 4 for Mac add-ins
*.xll_
*.xla_
*.xla5
*.xla8
## Office Open XML (OOXML) format was introduced with Microsoft Office 2007 and became the default format of Microsoft Excel ever since. Excel-related file extensions of this format include:
# Excel Workbook
*.xlsx
# Excel macro-enabled workbook; same as xlsx but may contain macros and scripts
*.xlsm
# Excel template
*.xltx
# Excel macro-enabled template; same as xltx but may contain macros and scripts
*.xltm
## Other formats
# Microsoft Excel uses dedicated file format that are not part of OOXML and use the following extensions:
# Excel binary worksheet (BIFF12)
*.xlsb
# Excel add-in that can contain macros
*.xla
# Excel macro-enabled add-in
*.xlam
# Excel XLL add-in; a form of DLL-based add-in[1]
*.xll
# Excel work space; previously known as "workbook"
*.xlw
# Excel CSV files (shopify default)
*.csv

# One Note
*.one
# Outlook
*.ecf
# Publisher
*.pub
# XPS Documents
*.xps

## Sourced from Wikipedia (https://en.wikipedia.org/wiki/List_of_Microsoft_Office_filename_extensions)
# Power Point doesn't apply at this time
# Access doesn't apply at this time

# Created by https://www.toptal.com/developers/gitignore/api/macos,node,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,node,visualstudiocode

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Node ###
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs generated by jscoverage/JSCover
lib-cov

# Coverage directory used by tools like istanbul
coverage
*.lcov

# nyc test coverage
.nyc_output

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache
.parcel-cache

# Next.js build output
.next
out

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/
# Comment in the public line in if your project uses Gatsby and not Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public

# vuepress build output
.vuepress/dist

# vuepress v2.x temp and cache directory
.temp

# Docusaurus cache and generated files
.docusaurus

# Serverless directories
.serverless/

# FuseBox cache
.fusebox/

# DynamoDB Local files
.dynamodb/

# TernJS port file
.tern-port

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

### Node Patch ###
# Serverless Webpack directories
.webpack/

# Optional stylelint cache

# SvelteKit build / generate output
.svelte-kit

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Support for Project snippet scope
.vscode/*.code-snippets

# Ignore code-workspaces
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/macos,node,visualstudiocode